/*-- scss:defaults --*/
$body-bg: #fdfdfd;
$body-color: #2c3e50;
$link-color: #2980b9;

/*-- scss:rules --*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.15rem;
}